@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

a {
        color: black;
        text-decoration: none;
        display: inline-block;
}

body {
        background-image: linear-gradient(rgb(4, 42, 68), rgb(20, 122, 142));
        font-family: "Inter", sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: normal;
        font-size: 20px;
}

.container {
        min-height: 100svh;
        margin: auto;
        display: flex;
        max-width: 425px;
        padding: 15px;
}

.main {
        margin: auto;
}

.logo {
        font-size: 0;
        pointer-events: none;
}

.logo img {
        text-align: center;
        max-width: 250px;
        max-height: 250px;
}

.img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

h1,
h2 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
}

h2 {
        font-size: 22px;
}

.body {
        display: grid;
        gap: 15px;

}

.links {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(min(290px, 100%), 1fr)); */
        grid-template-columns: auto;
        gap: 10px;
        /* justify-content: center; */
        width: 100%;
}

.link {
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        padding-block: 20px;
        padding-inline: 15px;
}

@media (max-width:767.98px) {
        .link {
                font-size: 18px;
                padding-block: 18px;
                padding-inline: 15px;
        }
}

.link:hover {
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
}